{% load static %}


<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'appOTTO/CSS/cores.css' %}">
    <link rel="stylesheet" href="{% static 'appOTTO/CSS/jogo.css' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'appOTTO/img/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'appOTTO/img/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'appOTTO/img/favicon-16x16.png' %}">
    <link rel="icon" href="{% static 'appOTTO/img/favicon.ico' %} ">
    <script src="{% static 'appOTTO/JS/trocarTema.js' %}"></script>

    <!-- Blockly -->
    <script src="{% static 'appOTTO/blockly/blockly_compressed.js' %}"></script>
    <script src="{% static 'appOTTO/blockly/blocks_compressed.js' %}"></script>
    <script src="{% static 'appOTTO/blockly/python_compressed.js' %}"></script>
    <script src="{% static 'appOTTO/blockly/msg/pt-br.js' %}"></script>
    <title>Fruta favorita</title>
</head>
<body>
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li class="{{ message.tags }}">{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <div class="container">
        <main>
            <section class="corpo">
                <header>
                    <a id="menuIcon">☰</a>
                    <div id="menuLista">
                        <div id="containerUl">
                            <div class="Sair" id="DivSair">
                                <h3>Deseja sair da conta?</h3>
                                <p>Seu progresso é salvo automaticamente.</p>
                                <div>
                                    <button onclick="window.location.href = '{% url 'fases' %}'">Sim</button>
                                    <button id="NãoSair">Não</button>
                                </div>
                            </div>
                            <ul id="Ul">
                                <li id="Jogabilidade">Jogabilidade
                                    <img src="{% static 'appOTTO/img/jogabilidade.png' %}" class="JogabilidadeImg" id="JogabilidadeImg">
                                </li>
                                <li id="Sair">Sair do jogo
                                </li>
                                <li id="Retomar">Retomar</li>
                            </ul>
                        </div>
                    </div>
                    <button onclick="mostrarCodigo(2)">Gerar Código</button>
                    <button class="button-descrição" id="ReverDescricao">Rever descrição</button>
                </header>

                <!-- Modal de descrição -->
                <div id="descricaoModal" class="descricao-modal">
                    <div class="descricao-conteudo">
                    <h2>{{ fase.titulo }}</h2>
                    <p>{{ fase.descricao }}</p>
                    <button id="fecharDescricao">Voltar</button>
                    </div>
                </div>

                <article>
                    <!-- Área de programação -->
                    <div class="programacao">
                        <div id="blocklyDiv"></div>
                    </div>

                    <!-- Resultado -->
                    <div class="resultado">
                        <div>
                            <pre id="codigoGerado">// O código aparecerá aqui</pre>
                        </div>
                    </div>
                </article>

                <!-- Footer mostrando blocos -->
                <footer id="toolboxFooter" style="overflow-x:auto; white-space:nowrap; padding:1rem;">
                    <button onclick="criarBloco('controls_if')">Se</button>
                    <button onclick="criarBloco('logic_compare')">Comparar</button>
                    <button onclick="adicionarVariavel('fruta')">Criar variável fruta</button>
                    <button onclick="criarBloco('variables_get')">Usar variável</button>
                    <button onclick="criarBloco('text')">Texto</button>
                    <button onclick="criarBloco('text_print')">Imprimir</button>
                </footer>
            </section>
        </main>
    </div>

    <script src="{% static 'appOTTO/JS/jogo.js' %}"></script>
</body>
</html>