{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'appOTTO/css/cadastro.css' %}">
    <title>Cadastro</title>
</head>
<body>
    <div class="container">
        <nav>
            <div class="voltar">
                <a class="btn-voltar" data-url="{% url 'home' %}"><img src="{% static 'appOTTO/img/141987.png' %}" class="voltar-button"></a>
                <h2>Criar conta</h2>
                <a><img src="{% static 'appOTTO/img/OTTO.png' %}" class="voltar-OTTO"></a>
            </div>
        </nav>
        <header>
            <form method="POST" action="{% url 'cadastro' %}" novalidate>
                {% csrf_token %}
                <input type="text" id="nome_completo" name="nome_completo" required maxlength="150" placeholder="NOME COMPLETO">
                <input type="text" id="nome_usuario" name="nome_usuario" required maxlength="50" placeholder="NOMME DE USUARIO">
                <input type="email" id="email" name="email" required maxlength="254" placeholder="EMAIL">
                <input type="password" id="senha" name="senha" required minlength="8" placeholder="SENHA">
                <input type="password" id="confirmar_senha" name="confirmar_senha" required minlength="8" placeholder="CONFIRMAR SENHA">
                <button class="button-logar" type="submit">CRIAR</button>
            </form>
        </header>
        <footer>
            <ul class="rodapé">
                <li class="rodapé-info">Brasil<a href=""></a></li>
                |
                <li class="rodapé-info">Termos de Uso<a href=""></a></li>
                |
                <li class="rodapé-info">Sobre Nós<a href=""></a></li>
                |
                <li class="rodapé-info">Contato<a href=""></a></li>
            </ul>
        </footer>
    </div>

    <script src="{% static 'appOTTO/js/home.js' %}"></script>
</body>
</html>