{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'appOTTO/CSS_Escuro/dashboardDark.css' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'appOTTO/img/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'appOTTO/img/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'appOTTO/img/favicon-16x16.png' %}">
    <link rel="icon" href="{% static 'appOTTO/img/favicon.ico' %} ">
    <link rel="manifest" href="{% static 'appOTTO/img/site.webmanifest' %}">
    <title>Dashboard</title>
</head>
<body>
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li class="{{ message.tags }}">{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <div class="container">
        <nav class="nav">
            <div class="logo">
                <a><img src="{% static 'appOTTO/img/OTTO.png' %}" class="voltar-OTTO"></a>
            </div>
            <ul class="menu">
                <li class="active">Home</li>
                <li>Meu Perfil</li>
                <li class="botao-navegar" data-url="{% url 'fases' %}">Fases</li>
                <li class="botao-navegar" data-url="{% url 'config' %}">Configurações</li>
            </ul>
        </nav>
        <main>
            <section id="Home" class="conteudo">
                <div class="conteudo-container">
                    <div class="conteudo-container-info">
                        <div>
                            <h3>Olá, {{ user.nome_usuario }}!</h3>
                            <p>Tudo pronto para começar! Vamos nessa?</p>
                        </div>
                        <a>Nível 03 - Megabyte</a>
                    </div>
                    <div class="conteudo-container-progresso">
                        <div class="progresso-barra">
                            <h4>Progresso</h4>
                            <p><script>
                                progresso = document.getElementById("progresso");
                                valor = progresso.value;
                            </script></p>
                            <progress id="progresso" value="32" max="100"> 32% </progress>
                        </div>
                        <div class="progresso-dica">
                            <div class="balao-dica">
                                <p>dica</p>
                            </div>
                            <img src="{% static 'appOTTO/img/OTTO.png' %}" alt="">
                        </div>
                    </div>
                    <div class="conteudo-container-curso">
                        <h4>Curso</h4>
                        <div class="curso-painel">
                            <h4>Nome da fase</h4>
                            <button class="preto">Continuar</button>
                        </div>
                    </div>
                </div>
            </section>
        </main>
    </div>
    <script src="{% static 'appOTTO/JS/dashboard.js'%}"></script>
    <script src="{% static 'appOTTO/JS/configuracoes.js' %}"></script>
</body>
</html>