{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'appOTTO/CSS/cores.css' %}">
    <link rel="stylesheet" href="{% static 'appOTTO/CSS/dashboard.css' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'appOTTO/img/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'appOTTO/img/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'appOTTO/img/favicon-16x16.png' %}">
    <link rel="icon" href="{% static 'appOTTO/img/favicon.ico' %}">
    <script src="{% static 'appOTTO/JS/reload.js' %}"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            const progresso = document.getElementById("progresso");
            const porcentagem = document.getElementById("porcentagem");
            const valor = progresso.value;
            porcentagem.textContent = valor + "%";
        });
    </script>
    <script src="{% static 'appOTTO/JS/trocarTema.js' %}"></script>
    <title>Dashboard</title>
</head>
<body>
    <main>
        <div class="container">
            <nav>
                <div class="logo">
                    <img src="{% static 'appOTTO/img/OTTO.png' %}" class="voltar-OTTO">
                </div>
                <ul class="menu">
                    <li class="active">Home</li>
                    <li><a class="botao-navegar" href="{% url 'perfil' %}">Meu Perfil</a></li>
                    <li><a class="botao-navegar" href="{% url 'fases' %}">Fases</a></li>
                    <li><a class="botao-navegar" href="{% url 'config' %}">Configurações</a></li>
                </ul>
            </nav>
            <section id="Home" class="conteudo">
                <div class="conteudo-container">
                    <div class="conteudo-container-info">
                        <div>
                            <h1>Olá, {{ user.nome_usuario }}!</h1>
                            <p>Tudo pronto para começar! Vamos nessa?</p>
                        </div>
                        <p>{{ nivel.nivel }}</p>
                    </div>
                    <div class="conteudo-container-progresso">
                        <div class="progresso-barra">
                            <h4>Progresso</h4>
                            <p id="porcentagem"></p>
                            <progress id="progresso" value="{{ progresso }}" max="100"></progress>
                        </div>
                    </div>
                    <div class="conteudo-container-curso">
                        <h4>Curso</h4>
                        <div class="curso-painel" style="background-image: url({% static fase.img %});">
                            <button onclick="window.location.href='{% url 'pre_fase' fase.fase %}'">Continuar</button>
                            <h4>{{ fase.titulo }}</h4>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </main>
    {% include 'appOTTO/vlibras.html' %}
</body>
</html>