{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'appOTTO/CSS/fases.css' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'appOTTO/img/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'appOTTO/img/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'appOTTO/img/favicon-16x16.png' %}">
    <link rel="icon" href="{% static 'appOTTO/img/favicon.ico' %} ">
    <link rel="manifest" href="{% static 'appOTTO/img/site.webmanifest' %}">
    <title>Fases</title>
</head>
<body>
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li class="{{ message.tags }}">{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <div class="container">
        <nav class="nav">
            <div class="logo">
                <a><img src="{% static 'appOTTO/img/OTTO.png' %}" class="voltar-OTTO"></a>
            </div>
            <ul class="menu">
                <li class="botao-navegar" data-url="{% url 'dashboard' %}">Home</li>
                <li>Meu Perfil</li>
                <li class="active">Fases</li>
                <li class="botao-navegar" data-url="{% url 'config' %}">Configurações</li>
            </ul>
        </nav>
        <header>
            <section id="Home" class="conteudo">
                <a href="{% url 'pre_fase' 1 %}"><span>Fase</span> <span>1</span></a>
                <a href="{% url 'pre_fase' 2 %}"><span>Fase</span> <span>2</span></a>
                <a href="{% url 'pre_fase' 3 %}"><span>Fase</span> <span>3</span></a>
                <a href="{% url 'pre_fase' 4 %}"><span>Fase</span> <span>4</span></a>
                <a href="{% url 'pre_fase' 5 %}"><span>Fase</span> <span>5</span></a>
                <a href="{% url 'pre_fase' 6 %}"><span>Fase</span> <span>6</span></a>
                <a href="{% url 'pre_fase' 7 %}"><span>Fase</span> <span>7</span></a>
                <a href="{% url 'pre_fase' 8 %}"><span>Fase</span> <span>8</span></a>
                <a href="{% url 'pre_fase' 9 %}"><span>Fase</span> <span>9</span></a>
                <a href="{% url 'pre_fase' 10 %}"><span>Fase</span> <span>10</span></a>
            </section>
        </header>
    </div>
    <script src="{% static 'appOTTO/JS/fases.js' %}"></script>
</body>
</html>