{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'appOTTO/CSS/fases.css' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'appOTTO/img/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'appOTTO/img/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'appOTTO/img/favicon-16x16.png' %}">
    <link rel="icon" href="{% static 'appOTTO/img/favicon.ico' %} ">
    <title>Fases</title>
</head>
<body>
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li class="{{ message.tags }}">{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <main>
        <div class="container">
            <nav>
                <div class="logo">
                    <a><img src="{% static 'appOTTO/img/OTTO.png' %}" class="voltar-OTTO"></a>
                </div>
                <ul class="menu">
                    <li class="botao-navegar" data-url="{% url 'dashboard' %}">Home</li>
                    <li>Meu Perfil</li>
                    <li class="active">Fases</li>
                    <li class="botao-navegar" data-url="{% url 'config' %}">Configurações</li>
                </ul>
            </nav>
            <section id="Home" class="conteudo">
                {% for i in fases %}
                    {% if i <= progresso|add:"1" %}
                        <a href="{% url 'pre_fase' i %}" class="fase liberada">
                            <span>Fase</span> <span>{{ i }}</span>
                        </a>
                    {% else %}
                        <a class="fase bloqueada">
                            <span>Fase</span> <span>{{ i }}</span>
                        </a>
                    {% endif %}
                {% endfor %}
            </section>
        </div>
    </main>
    <script src="{% static 'appOTTO/JS/fases.js' %}"></script>
</body>
</html>