{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'appOTTO/CSS/home.css' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'appOTTO/img/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'appOTTO/img/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'appOTTO/img/favicon-16x16.png' %}">
    <link rel="icon" href="{% static 'appOTTO/img/favicon.ico' %} ">
    <title>OTTO</title>
</head>
<body>
    <main>
        <div class="container">
            <nav>
                <div class="logo">
                    <img src="{% static 'appOTTO/img/OTTO.png' %}" alt="OTTO" class="voltar-OTTO">
                </div>
                <div class="login">
                    <button class="login-button login-button-login botao-navegar" data-url="{% url 'login' %}">LOGIN</button>
                    <button class="login-button login-button-cadastro botao-navegar" data-url="{% url 'cadastro' %}">CADASTRO</button>
                </div>
            </nav>
            <section class="corpo">
                <div class="corpo-animacao">
                    <img src="{% static 'appOTTO/img/page.png' %}" alt="OTTO">
                </div>
                <div class="corpo-convite">
                    <p>De graça, sem enrolação e cheio de diversão <br>— <span>aprenda a programar brincando!</span></p>
                    <button class="corpo-convite-cadastro botao-navegar" data-url="{% url 'cadastro' %}"><b>Pronto para aprender!</b></button>
                    <button class="corpo-convite-login botao-navegar" data-url="{% url 'login' %}">Já tenho uma conta</button>
                </div>
            </section>
            <section class="carrossel">
                <div class="carrossel-container">
                    <button id="prev" class="carrosel-button">&lt;</button>

                    <div class="carrossel-viewport">
                        <div class="carrossel-inner">
                            <div class="item">
                                <div class="carrosel-slide-info">
                                    <h2 id="h2-especial1">O primeiro passo no <span>Universo da Tecnologia</span> começa aqui</h2>
                                    <p>A Plataforma Otto foi desenvolvida para crianças explorarem conceitos de lógica computacional de forma divertida e acessível.</p>
                                </div>
                                <div class="carrosel-slide-img">
                                    <img src="{% static 'appOTTO/img/slide1.png' %}">
                                </div>
                            </div>
                            <div class="item">
                                <div class="carrosel-slide-info">
                                    <h2 id="h2-especial1"><span>Crie, experimente e aprenda!</span></h2>
                                    <p>Com atividades práticas baseadas no Scratch, é possível desenvolver projetos criativos enquanto se constroem habilidades como lógica, autonomia e resolução de problemas.</p>
                                </div>
                                <div class="carrosel-slide-img">
                                    <img src="{% static 'appOTTO/img/slide2.png' %}">
                                </div>
                            </div>
                            <div class="item">
                                <div class="carrosel-slide-info">
                                    <h2 id="h2-especial1">Aprender com <span>Segurança e Tranquilidade</span></h2>
                                    <p>Sem conteúdos externos e com controle sobre as interações, garantindo um ambiente 100% apropriado para crianças.</p>
                                </div>
                                <div class="carrosel-slide-img">
                                    <img src="{% static 'appOTTO/img/slide3.png' %}">
                                </div>
                            </div>
                            <div class="item">
                                <div class="carrosel-slide-info">
                                    <h2 id="h2-especial1">Aprender vira uma <span>Aventura</span></h2>
                                    <p>Desafios, conquistas e recompensas fazem parte da experiência. Estimula o engajamento das crianças enquanto elas aprendem conceitos importantes sem nem perceber!</p>
                                </div>
                                <div class="carrosel-slide-img">
                                    <img src="{% static 'appOTTO/img/slide4.png' %}">
                                </div>
                            </div>
                        </div>
                    </div>

                    <button id="next" class="carrosel-button">&gt;</button>
                </div>
            </section>
            <section class="informacoes">
                <h2>POR QUE ESTUDAR COM O OTTO?</h2>
                <div class="informacoes-container">
                    <div class="informacoes-container-box">
                        <h3>Gratuito</h3>
                        <p>Você não paga nada para aprender com o OTTO. <br> É só entrar e começar!</p>
                    </div>
                    <div class="informacoes-container-box">
                        <h3>Divertido</h3>
                        <p>Com a plataforma, estudar vira um jogo. <br> Aprenda se divertindo!</p>
                    </div>
                    <div class="informacoes-container-box">
                        <h3>Aprenda rápido</h3>
                        <p>Conteúdos diretos ao ponto, para você aprender sem enrolação.</p>
                    </div>
                    <div class="informacoes-container-box">
                        <h3>Facilidade</h3>
                        <p>Funciona no seu celular, tablet ou computador. <br> A qualquer hora, onde quiser.</p>
                    </div>
                </div>
            </section>
            <footer></footer>
        </div>
    </main>
    <script src="{% static 'appOTTO/JS/home.js' %}"></script>
</body>
</html>