{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'appOTTO/css/login.css' %}">
    <title>Login</title>
</head>
<body>
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li class="{{ message.tags }}">{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <div class="container">
        <nav>
            <div class="voltar">
                <a class="btn-voltar" data-url="{% url 'home' %}"><img src="{% static 'appOTTO/img/141987.png' %}" class="voltar-OTTO"></a>
            </div>
        </nav>
        <header>
            <section class="cadastro">
                <div class="informacao">
                    <form method="POST">
                        {% csrf_token %}
                        <h2>Conectar Conta</h2>
                        
                        <input type="email" id="email_usuario" name="email_usuario" required placeholder="EMAIL">
                        <div class="form-senha">
                            <input type="password" id="senha_usuario" name="senha_usuario" required placeholder="SENHA">
                            <a class="esqueci-senha" href="{% url 'alterarSenha' %}">ESQUECEU A SENHA?</a>
                        </div>
                        <div class="container-button-logar">
                            <button class="button-logar" type="submit">LOGAR</button>
                        </div>
                        <div class="google-btn-container">
                            <button type="button" class="google-button" onclick="window.location.href='{% url 'social:begin' 'google-oauth2' %}'">
                                <img src="{% static 'appOTTO/img/Google__G__logo.svg.png' %}" alt="Logo Google" class="img-google">
                                <p class="text-google">Logar com o Google</p>
                            </button>
                        </div>
                    </form>
                </div>
            </section>
            <section class="animacao">
                <a><img src="{% static 'appOTTO/img/cadastro.png' %}" alt=""></a>
            </section>
        </header>
        <footer>
            <ul class="rodape">
                <li class="rodape-info">Brasil<a href=""></a></li>
                |
                <li class="rodape-info">Termos de Uso<a href=""></a></li>
                |
                <li class="rodape-info">Sobre Nós<a href=""></a></li>
                |
                <li class="rodape-info">Contato<a href=""></a></li>
            </ul>
        </footer>
    </div>

    <script src="{% static 'appOTTO/js/home.js' %}"></script>
</body>
</html>