{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'appOTTO/CSS/passwordReset.css' %}">
    <title>Verificar E-mail</title>
</head>
<body>
    <div class="container">
        <nav>
            <div class="voltar">
                <a class="btn-voltar" href="{% url 'login' %}"><img src="{% static 'appOTTO/img/141987.png' %}" class="voltar-img" alt="Voltar"></a>
                <a class="logo"><img src="{% static 'appOTTO/img/OTTO.png' %}" alt="Logo OTTO" class="voltar-OTTO"></a>
            </div>
        </nav>
        <main>
            <section class="recuperarSenha">
                <div class="informacao">
                    <h2>Acabamos de enviar um código no seu e-mail, verifique</h2>
                    <h3>Se o endereço de email informado estiver cadastrado, você receberá uma mensagem com instruções para redefinir sua senha.</h3>
                </div>
            </section>
        </main>
    </div>
    <footer>
        
    </footer>
</body>
</html>