{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'appOTTO/CSS/passwordReset.css' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'appOTTO/img/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'appOTTO/img/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'appOTTO/img/favicon-16x16.png' %}">
    <link rel="icon" href="{% static 'appOTTO/img/favicon.ico' %} ">
    <title>Verifique seu E-mail</title>
</head>
<body>
    <div class="container">
        <nav>
            <div class="voltar">
                <a class="btn-voltar" href="{% url 'login' %}"><img src="{% static 'appOTTO/img/141987.png' %}" class="voltar-img" alt="Voltar"></a>
                <a class="logo"><img src="{% static 'appOTTO/img/OTTO.png' %}" alt="Logo OTTO" class="voltar-OTTO"></a>
            </div>
        </nav>
        <main>
            <section class="recuperarSenha">
                <div class="informacao">
                    <h2>Acabamos de enviar um e-mail para você, verifique.</h2>
                    <h3>Se seu e-mail estiver cadastrado, você receberá instruções.</h3>
                </div>
            </section>
        </main>
    </div>
</body>
</html>