{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'appOTTO/CSS/passwordReset.css' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'appOTTO/img/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'appOTTO/img/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'appOTTO/img/favicon-16x16.png' %}">
    <link rel="icon" href="{% static 'appOTTO/img/favicon.ico' %} ">
    <title>Insira seu E-mail</title>
</head>
<body>
    <div class="container">
        <nav>
            <div class="voltar">
                <a class="btn-voltar" href="{% url 'login' %}"><img src="{% static 'appOTTO/img/141987.png' %}" alt="Voltar" class="voltar-img"></a>
                <a class="logo"><img src="{% static 'appOTTO/img/OTTO.png' %}" alt="Logo OTTO" class="voltar-OTTO"></a>
            </div>
        </nav>
        <main>
            <section class="recuperarSenha">
                <div class="informacao">
                    <h2>Recuperar senha</h2>
                    <form method="POST">
                        {% csrf_token %}
                        <h3>E-mail:</h3>

                        {{ form.email }}

                        <div class="container-button-senha">
                            <button class="button-senha" type="submit">Enviar Link</button>
                        </div>
                    </form>
                </div>
            </section>
        </main>
    </div>
    <footer></footer>
</body>
</html>