{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap">
    <link rel="stylesheet" href="{% static 'appOTTO/CSS/passwordReset.css' %}">
    <title>Trocar Senha</title>
</head>
<body>
    <div class="container">
        <nav>
            <div class="voltar">
                <a class="btn-voltar" href="{% url 'login' %}"><img src="{% static 'appOTTO/img/141987.png' %}" alt="Voltar" class="voltar-img"></a>
                <a class="logo"><img src="{% static 'appOTTO/img/OTTO.png' %}" alt="Logo OTTO" class="voltar-OTTO"></a>
            </div>
        </nav>
        <header>
            <section class="recuperarSenha">
                <div class="informacao">
                    <h2>Recuperar senha</h2>
                    <form method="POST">
                        {% csrf_token %}
                        <h2>Esqueceu a senha?</h2>
                        <h3>Redefina a senha em duas etapas.</h3>
                        <h3>E-mail:</h3>
                        <div>
                            {{ form.email }}
                        </div>

                        <div class="container-button-senha">
                            <button class="button-senha" type="submit">Enviar Link</button>
                        </div>
                        <div class="form-img">
                            <img src="{% static 'appOTTO/img/esquecisenha1.png' %}" alt="OTTO decorativo">
                        </div>
                    </form>
                </div>
            </section>
        </header>
        <footer>
            <ul class="rodape">
                <li class="rodape-info">Brasil<a href=""></a></li>
                |
                <li class="rodape-info">Termos de Uso<a href=""></a></li>
                |
                <li class="rodape-info">Sobre Nós<a href=""></a></li>
                |
                <li class="rodape-info">Contato<a href=""></a></li>
            </ul>
        </footer>
    </div>
</body>
</html>