{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap">
  <link rel="stylesheet" href="{% static 'appOTTO/CSS/passwordReset.css' %}">
  <title>Nova Senha</title>
</head>
<body>
  <div class="container">
    <nav>
      <div class="voltar">
        <a class="btn-voltar" href="{% url 'login' %}"><img src="{% static 'appOTTO/img/141987.png' %}"
            class="voltar-img" alt="Voltar"></a>
        <a class="logo"><img src="{% static 'appOTTO/img/OTTO.png' %}" alt="Logo OTTO" class="voltar-OTTO"></a>
      </div>
    </nav>
    <header>
      <section class="recuperarSenha">
        <div class="informacao">
          <h2>Redefinir senha</h2>
          {% if validlink %}
            <form method="post">
              {% csrf_token %}
              <div id="form-alterar-senha">
                {{ form.as_p }}
              </div>
              <div class="container-button-senha">
                <button class="button-senha" type="submit">Confirmar Senha</button>
              </div>
            </form>
          {% else %}
            <p>Esse link de redefinição de senha não é mais válido. Solicite um novo.</p>
            <a href="{% url 'password_reset' %}">Recuperar senha</a>
          {% endif %}
        </div>
      </section>
    </header>
    <footer>
      <ul class="rodape">
        <li class="rodape-info">Brasil<a href=""></a></li>
        |
        <li class="rodape-info">Termos de Uso<a href=""></a></li>
        |
        <li class="rodape-info">Sobre Nós<a href=""></a></li>
        |
        <li class="rodape-info">Contato<a href=""></a></li>
      </ul>
    </footer>
  </div>
</body>
</html>

<!--
<h2>Redefinir senha</h2>
  {% if validlink %}
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit">Alterar senha</button>
    </form>
  {% else %}
    <p>Esse link de redefinição de senha não é mais válido. Solicite um novo.</p>
    <a href="{% url 'password_reset' %}">Recuperar senha</a>
  {% endif %}