*{
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    background-color: #FFFDFA;
}

/* nav */

nav{
    height: 10vh;
    width: 100%;
    padding: 10px 50px;
}

.voltar{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;
}
.voltar h2{
    font-size: 50px;
}

.voltar-button{
    height: 50px;
    width: 50px;
}

.voltar-OTTO{
    height: 80px;
    width: 150px;
}


/* header */

header{
    display: flex;
    flex-direction: column;
    height: 85vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

h2{
    font-size: 40px;
}

form{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.container-button-cadastrar{
    display: flex;
    justify-content: center;
    align-items: center;
}

input{
    width: 800px;
    font-size: clamp(1rem, 2.5vw, 2rem);
    display: flex;
    padding: 15px;
    color: #FFFDFA;
    background-color: #7676F0;
    border: none;
    border-radius: 15px;
}

input::placeholder{
    color: #FFFDFA;
}

.button-logar{
    width: 200px;
    font-size: clamp(1rem, 2.5vw, 2rem);
    font-weight: 700;
    border: none;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: #FFFDFA;
    color: #7676F0;
    padding: 20px;
    text-align: center;
}


/* footer */

footer{
    background-color: #7676F0;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rodape{
    display: flex;
    width: 60%;
    color: #F9DF73;
    gap: 0px;
    justify-content: space-around;
}

.rodape-info{
    font-size: 20px;
    color: #F9DF73;
    list-style-type: none;
}

/* Cadastrar com o google */

.google-button{
    display: flex;
    align-items: center;
    text-align: center;
    width: 800px;
    font-size: 48px;
    padding: 20px;
    border: none;
    border-radius: 15px;
    background-color: #FFFDFA;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.img-google{
    height: 40px;
    width: 40px;
}

.text-google{
    width: 100%;
}

/* Mensagens de erro e sucesso */

.messages {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    background: #ffe6e6;
    border-radius: 5px;
    padding: 16px 32px;
    margin: 0;
    z-index: 1000;
    list-style: none;
    box-shadow: 0 2px 8px rgba(0,0,0,0.08);
    min-width: 300px;
    max-width: 90vw;
    text-align: center;
}

.messages li {
    margin: 0.5em 0;
    font-weight: bold;
}

.success {
    color: #207227;
    border: #207227;
}

.error {
    color: #b30000;
    border: #b30000;
}