*{
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
}

body, html{
  height: 100%;
}

.container{
  background-color: #7676F0;
  height: 100vh;
  display: flex;
}

.voltar-OTTO{
  height: 80px;
  width: 150px;
}

/* nav */

.nav {
  width: 20%;
  height: 100vh;
  padding: 80px 0 0 0; /* Remove padding esquerdo */
  background-color: #7676F0; /* Garante que a barra azul cubra até a borda */
  color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
  flex-shrink: 0;
}

.logo {
  text-align: center;
  width: 100%;
  font-size: 22px;
}

.menu {
  list-style: none;
  width: 100%;
}

.menu li {
  padding: 12px 24px;
  margin: 10px 0;
  cursor: pointer;
  transition: all 0.3s ease;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  font-size: clamp(1rem, 2vw, 2rem);
}


/* Item ativo com destaque */
.menu li.active {
  background-color: #f4e66c;
  color: black;
  font-weight: bold;
  padding: 16px 28px;
  font-size: clamp(1rem, 2vw, 2rem);
  transform: scale(1.05);
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  margin-left: 0;
}


/* header */

header{
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.conteudo{
  height: 80%;
  width: 80%;
  background-color: aliceblue;
  border-radius: 25px;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.conteudo-container{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.conteudo-nav{
  width: 100%;
  height: auto;
  display: flex;
  background-color: #7676F0;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}

.conteudo-nav button{
  flex: 1;
  padding: 10px;
  font-size: clamp(1rem, 2.5vw, 2rem);
  background-color: #7676F0;
  border: none;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  color: white;
  font-weight: bold;
  transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
}

.conteudo-nav button.active{
  background-color: #f4e66c;
  color: black;
  transform: scale(1.05);
}

.conteudo-box{
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-conta-form{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  text-align: center;
}

.container-conta-form label{
  font-size: clamp(1rem, 2.5vw, 2rem);
  font-weight: bold;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  width: 100%;
}

.container-conta-form input{
  background-color: #e2e2e2;
  border: none;
  border-radius: 5px;
  padding: 10px;
  width: 60%;
  font-size: clamp(1rem, 1.5vw, 1.5rem);
}

.container-conta-form button{
  padding: 10px 50px;
  font-size: clamp(1rem, 1.5vw, 1.5rem);
  background-color: #f4e66c;
  border-radius: 15px;
}

.conteudo-interface{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 0 60px;
}

.conteudo-interface  h3{
  font-weight: bold;
  font-size: clamp(2rem, 2.5vw, 2.5rem);
}

.conteudo-interface  button{
  font-size: clamp(1rem, 1.5vw, 1.5rem);
}

.conteudo-interface-tema{
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.conteudo-interface-tema > ul{
  display: flex;
  gap: 2rem;
  padding: 0 0 0 20px;
}

.conteudo-interface-tema button{
  border: none;
  padding: 10px;
  background-color: aliceblue;
  border-radius: 20px;
  width: 120px;
}

.conteudo-interface-tema button.active{
  border: none;
  padding: 10px;
  background-color: #f4e66c;
  border-radius: 20px;
  width: 120px;
}

.conteudo-interface-tema-acessibilidade{
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.conteudo-interface-tema-acessibilidade > ul{
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 0 0 0 20px;
}

.conteudo-interface-tema-acessibilidade li{
  display: flex;
  gap: 1rem;
}

/* switch */
.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 28px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  background-color: #d9d9d9;
  border-radius: 34px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: 0.4s;
}

.slider::before {
  content: "";
  position: absolute;
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 4px;
  background-color: #f9df73; /* amarelo pastel */
  border-radius: 50%;
  transition: 0.4s;
}

/* quando o switch está ativado */
.switch-input:checked + .slider {
  background-color: #d9d9d9; /* pode manter igual ou mudar */
}

.switch-input:checked + .slider::before {
  transform: translateX(22px);
}

.conteudo-interface{
  height: 100%;
  width: 100%;
  display: flex;
}

.conteudo-ajuda-menu{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: start;
  padding: 20px;
}

.conteudo-ajuda-menu > button{
  font-weight: bold;
  font-size: clamp(1.5rem, 2vw, 2rem);
  background: none;
  border: none;
}

.conteudo-ajuda-conteudo{
  height: 100%;
}

.voltar-container{
  height: 10%;
}

.voltar-container > button{
  background: none;
  border: none;
  font-size: clamp(1.5rem, 2vw, 2rem);
  padding: 1rem;
}

.ajuda-item{
  height: 100%;
}

.conteudo-ajuda-suporte{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.conteudo-ajuda-suporte h2{
  text-align: center;
  font-size: clamp(1rem, 1.5vw, 2rem);
  padding: 1rem;
}

.conteudo-suporte{
  height: 90%;
}

.conteudo-suporte-form{
}

.form-suporte{
  height: 55vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.form-suporte button{
  width: 15%;
}

.form-suporte-button{
  font-size: clamp(1rem, 1.5vw, 2rem);
  font-weight: bold;
  padding: 1rem;
  border: 1px solid black;
  border-radius: 15px;
  background-color: #f4e66c;
  text-align: center;
}

.form-suporte h3{
  font-size: clamp(1rem, 1.5vw, 2rem);
  font-weight: 400;
}

.form-suporte-usuario {
  width: 55vw;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem 0;
}

.form-suporte-usuario > div{
  display: flex;
  justify-content: start;
  gap: 1rem;
}

.form-suporte label{
  font-size: clamp(1rem, 1vw, 2rem);
  padding: 0.2rem;
}

.form-suporte input{
  font-size: clamp(1rem, 1vw, 2rem);
  padding: 0.2rem 1rem;
  background-color: #d9d9d9;
  border: none;
  border-radius: 10px;
}

.form-suporte-mensagem{
  display: flex;
  flex-direction: column;
}

.form-suporte-mensagem textarea{
  height: 20vh;
  width: 55vw;
  background-color: #F1F1FF;
  padding: 1rem;
  font-size: clamp(1rem, 1vw, 2rem);
  border: none;
  border-radius: 15px;
  resize: none;
}


.form-contato{
  display: none;
  height: 55vh;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.form-contato > div{
  width: 30%;
  height: 30vh;
  background-color: #F1F1FF;
  border-radius: 15px;
}

.form-contato > p{
  width: 50%;
  font-size: clamp(1rem, 1.5vw, 3rem);
  text-align: center;
}

.form-contato button{
  width: 30%;
}

.conteudo-ajuda-faq{
  height: 90%;
  overflow: hidden;
}

.conteudo-ajuda-faq h2{
  text-align: center;
  font-size: clamp(1rem, 1.5vw, 2rem);
  padding: 1rem;
}

.conteudo-ajuda-faq h3{
  text-align: center;
  font-size: clamp(1rem, 1.5vw, 2rem);
}

.conteudo-ajuda-faq h4{
  padding: 1rem;
  font-weight: 400;
  font-size: clamp(1rem, 1.5vw, 2rem);
  color: #7676F0;
  border: #7676F0 solid 1px;
  border-radius: 15px;
  background-color: #E4E4E4;
  display: flex;
  justify-content: space-between;
}

.conteudo-ajuda-faq h4 button{
  border: none;
  background: none;
  font-size: clamp(1rem, 1.5vw, 2rem);
  color: #7676F0;
}


.conteudo-faq {
  height: 55vh;
  overflow-y: auto;  
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.conteudo-faq > div{
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.faq-item{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.faq-item div{
  font-size: clamp(1rem, 1vw, 1rem);
}

.conteudo-faq-plataforma{
  
}

.faq-resposta {
  display: none;
  padding: 0 1rem;
  flex-direction: column;
  gap: 1rem;
}

.faq-resposta ul{
  padding: 0 1rem;
}

.faq-resposta ul li{
  list-style-type: decimal;
}

.conteudo-ajuda-termos {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.conteudo-ajuda-termos h2{
  text-align: center;
  font-size: clamp(1rem, 1.5vw, 2rem);
  padding: 1rem;
}

.conteudo-termos {
  height: 58vh;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  font-size: clamp(1rem, 1.5vw, 2rem);
}

.conteudo-termos span{
  font-weight: bold;
}

.conteudo-termos-ul{
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.conteudo-termos-ul-li {
  font-size: clamp(1rem, 1.5vw, 2rem);
  font-weight: bold;
  list-style-type: decimal;
  list-style-position: inside;
}

.conteudo-termos-ul-li p{
  font-weight: 400;
  font-size: clamp(1rem, 1vw, 2rem);
  margin: 1rem 0;
}

.conteudo-termos-ul-li > ul > li{
  list-style-type: disc;
  list-style-position: inside;
  font-weight: 400;
  font-size: clamp(1rem, 1vw, 2rem);
  margin: 0.5rem 0 0 1rem;
}

.container-conta{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.conteudo-ajuda-sair-conta{
  background-color: #7676F0;
  border-radius: 15px;
  padding: 3rem;
  height: 80%;
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}

.conteudo-ajuda-sair-conta h3{
  font-size: clamp(2rem, 2.5vw, 3rem);
  color: aliceblue;
}

.conteudo-ajuda-sair-conta p{
  font-weight: 300;
  font-size: clamp(1rem, 1.5vw, 2rem);
  color: aliceblue;
}

.conteudo-ajuda-sair-conta div{
  display: flex;
  justify-content: space-around;
}

.conteudo-ajuda-sair-conta div button{
  font-weight: 300;
  font-size: clamp(1rem, 1.5vw, 2rem);
  color: aliceblue;
  background: none;
  padding: 10px 20px;
  border: 1px solid #7676F0;
  border-radius: 10px;
  transition: 0.2s;
}

.conteudo-ajuda-sair-conta div button:hover{
  background-color: #f4e66c;
  color: black;
  border: aliceblue 1px solid;
}