@font-face {
    font-family: 'Inter';
    src: url('../Fonts/Inter_28pt-Regular.ttf');
}

*{
  font-family: 'Inter';
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
}

a {
    text-decoration: none;
    color: white;
}

body, html{
  background-color: var(--cor_primaria);
  width: 100%;
}

main{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.container{
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 40px;
}

/* Nav */
nav {
  width: 20%;
  min-width: 100px;
  max-width: 200px;
  margin: 40px 0px 0px 0px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
  flex-shrink: 0;
}

.logo {
  text-align: center;
  width: 100%;
}

.voltar-OTTO{
  width: 90%;
}

.menu {
  list-style: none;
  width: 100%;
}

.menu li {
  padding: 12px 24px;
  margin: 10px 0;
  cursor: pointer;
  transition: all 0.3s ease;
  font-size: clamp(1rem, 2vw, 2rem);
}


/* Item ativo com destaque */
.menu li.active {
  background-color: var(--cor_secundaria);
  color: black;
  font-weight: bold;
  padding: 16px 28px;
  font-size: clamp(1rem, 2vw, 2rem);
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  margin-left: 0;
}

/* Conteúdo */
.conteudo{
  display: flex;
  flex-direction: column;
  width: 80%;
  min-height: 80vh;
  padding: 50px 30px;
  margin: 40px 20px 0px 0px;
  background-color: var(--cor_fundo_conteudo);
  border-radius: 25px;
}

.topo {
  width: 100%;
  min-height: 20%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.textoTopo {
  gap: 5px;
  text-align: start;
  display: flex;
  flex-direction: column;
}

.textoTopo h2 {
  color: var(--cor_claro);
}

.textoTopo p {
  color: grey;
}

#nivel {
  text-align: end;
  color: #7676F0;
}

.alterarDados {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 0px;
  width: 100%;
  min-height: 80%;
  gap: 20px;
}

.alterarDados h3 {
  color: var(--cor_claro);
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

label {
  color: var(--cor_claro);
}

input {
  background-color: lightgrey;
  border: none;
  border-radius: 5px;
  border: 1px solid var(--cor_claro);
  padding: 10px;
  margin-bottom: 20px;
  width: 100%;
  font-size: clamp(1rem, 1.5vw, 1.5rem);
}

button {
  align-self: center;
  padding: 10px 20px;
  font-size: clamp(1rem, 1.5vw, 1.5rem);
  background-color: var(--cor_secundaria);
  border-radius: 15px;
  border: 2px solid black;
  width: 80%;
  cursor: pointer;
}

.messages {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  background: #ffe6e6;
  border-radius: 5px;
  padding: 16px 32px;
  margin: 0;
  z-index: 1000;
  list-style: none;
  box-shadow: 0 2px 8px rgba(0,0,0,0.08);
  min-width: 300px;
  max-width: 90vw;
  text-align: center;
}

.messages li {
  margin: 0.5em 0;
  font-weight: bold;
}

@media screen and (max-width: 550px) {
  .alterarDados {
    gap: 40px;
    min-height: 60vh;
  }
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  nav {
    width: 100%;
    min-width: none;
    max-width: none;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 20px 0px 0px 0px;
    gap: 10px;
  }

  .logo {
    width: 20%;
    margin-left: 10px;
  }

  .menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 80%;
  }

  .menu li {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 2px;
    margin: 0px 4px;
    cursor: pointer;
    transition: all 0.3s ease;
    font-size: 12px;
  }

  /* Item ativo com destaque */
  .menu li.active {
    color: black;
    font-weight: bold;
    padding: 4px 6px;
    font-size: 12px;
    transform: scale(1.0);
    border-radius: 10px;
  }

  .conteudo {
    display: flex;
    margin: 40px 0px 0px 0px;
    width: 90%;
  }
}