@font-face {
    font-family: 'Inter';
    src: url('../Fonts/Inter_28pt-Regular.ttf');
}

*{
    font-family: 'Inter';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    background-color: #FFFDFA;
}

/* Nav */
nav{
    margin: 20px 0px 20px 0px;
    padding: 0px 20px 0px 20px;
    width: 100%;
    display: flex;
    flex-direction: row;
}

nav div{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.voltar-img{
    height: 50px;
    width: 50px;
}

.voltar-OTTO{
    height: 55px;
    width: 150px;
}

/* Main */
main{
    scrollbar-width: none;
    width: 100%;
    height: 100vh;
    display: flex;
    margin-bottom: 100px;
    width: 100%;
    align-items: center;
    justify-content: center;
    overflow: auto;
}

.recuperarSenha {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.informacao{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
}

form{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
}

h2{
    font-size: clamp(2rem, 3vw, 3rem);
}

h3{
    font-size: clamp(2rem, 1.5vw, 3rem);
    font-weight: 400;
}

input{
    width: 50vw;
    font-size: clamp(2rem, 2.5vw, 3rem);
    padding: 1rem;
    color: #FFFDFA;
    background-color: #7676F0;
    border: none;
    border-radius: 15px;
}

input::placeholder{
    color: #FFFDFA;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container-button-senha{
    width: 100vw;
    flex: 1;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

button{
    height: auto;
    width: 25%;
    font-size: clamp(1rem, 2.5vw, 2rem);
    font-weight: 700;
    border: none;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: #F9DF73;
    color: black;
    padding: 10px;
    text-align: center;
    cursor: pointer;
}

.container-button-senha a{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5vh;
    width: 15vw;
    font-weight: bold;
    color: #1C44D4;
    font-size: clamp(0.5rem, 1.5vw, 2rem);
}

/* footer */
footer{
    background-color: #7676F0;
    height: 30px;
    margin-top: 50px;
    justify-content: space-evenly;
    align-items: center;
}

/* Container geral */
#form-alterar-senha {
    display: flex;
    width: 100%;
    align-items: center;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
    padding: 10px;
}

/* Cada linha (p que o as_p gera) */
#form-alterar-senha p {
    display: flex;
    margin-bottom: 15px;
    flex-direction: column;
    align-items: center;
}

/* Label */
#form-alterar-senha label {
    display: block;
    margin-bottom: 6px;
    font-weight: 600;
    color: #333;
}

#form-alterar-senha input {
    width: 80%;
}

form{
    display: flex;
    width: 80%;
    align-items: center;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
    padding: 10px;
}